body {
    font-family: Arial, sans-serif;
}

header.jumbotron {
    background: url('header-bg.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

header .btn {
    margin-top: 20px;
}

section {
    margin-top: 30px;
}

footer {
    margin-top: 30px;
}
